.App-main
  padding-top: header-height
  height: 100%
  .list-tile
    padding: 5px
  .list-wrapper
    display: flex !important
    flex-wrap: wrap !important
    justify-content: space-around !important
    overflow: hidden !important
  .grid-list
    flex-wrap: nowrap !important
    transform: translateZ(0) !important
  .hidden
    visibility: hidden;
