@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
}
.App-footer {
  padding: 15px;
}
.App-header > header {
  padding: 0px 10px;
  background-color: #000;
  height: 85px;
}
.logo {
  width: 200px;
  height: 100%;
}
.App-main {
  padding-top: 85px;
  padding-left: 15px;
  padding-right: 15px;
  height: 100%;
  min-height: 80vh;
}
.App-main .list-tile {
  transition: 0.3s ease-out;
}
.App-main .list-wrapper {
  display: flex !important;
  flex-wrap: wrap !important;
  align-items: center;
  justify-content: space-around !important;
  overflow: hidden !important;
}
.App-main .grid-list {
  flex-wrap: nowrap !important;
  transform: translateZ(0) !important;
}
.App-main .hidden {
  display: none;
}
.App-main .paper {
  margin-top: 20px;
  padding: 20px 0;
}
.App-main .paper > div {
  margin-right: 10px;
}
.App-main .spinner {
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(40vw, 40vh);
}
