.App-main
  padding-top: header-height
  padding-left: content-padding
  padding-right: content-padding
  height: 100%
  min-height: 80vh
  .list-tile
    transition: .3s ease-out
  .list-wrapper
    display: flex !important
    flex-wrap: wrap !important
    align-items: center;
    justify-content: space-around !important
    overflow: hidden !important
  .grid-list
    flex-wrap: nowrap !important
    transform: translateZ(0) !important
  .hidden
    display: none;
  .paper
    margin-top: 20px
    padding: 20px 0
    & > div
      margin-right: 10px
  .spinner
    position: absolute
    left: 0
    top: 0
    transform: translate(40vw, 40vh);
